.base-button-style {
    appearance: none;
    border: none;
    background-color: transparent;
    cursor: pointer;
    border-radius: 100px;
    padding: .25rem 1rem;
    * {
        cursor: pointer!important;
    }
}

.btn-primary {
    color: white;
    background-color: blue;
}

.btn-danger {
    color: white;
    background-color: #f00a0a;
}

.no-paddings {
    padding: 0px;
}
